In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [49]:
df = pd.read_csv("short_term_rates.csv")

In [50]:
df1 = df.iloc[:, [0, 4]]
df1

,Series Description,"Market yield on U.S. Treasury securities at 1-year constant maturity, quoted on investment basis"
0,Unit:,Percent:_Per_Year
1,Multiplier:,1
2,Currency:,NaN
3,Unique Identifier:,H15/H15/RIFLGFCY01_N.B
4,Time Period,RIFLGFCY01_N.B
...,...,...
16459,2025-01-27,4.13
16460,2025-01-28,4.14
16461,2025-01-29,4.17
16462,2025-01-30,4.16
16463,2025-01-31,4.17

In [51]:
df1 = df1.iloc[5:, :]
df1

,Series Description,"Market yield on U.S. Treasury securities at 1-year constant maturity, quoted on investment basis"
5,1962-01-02,3.22
6,1962-01-03,3.24
7,1962-01-04,3.24
8,1962-01-05,3.26
9,1962-01-08,3.31
...,...,...
16459,2025-01-27,4.13
16460,2025-01-28,4.14
16461,2025-01-29,4.17
16462,2025-01-30,4.16
16463,2025-01-31,4.17

In [52]:
df1["Series Description"] = pd.to_datetime(df1["Series Description"])
df1.iloc[:, 1] = pd.to_numeric(df1.iloc[:, 1], errors="coerce")
df1 = df1.dropna()

C:\Users\Adi\AppData\Local\Temp\ipykernel_17052\1294822164.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Series Description"] = pd.to_datetime(df1["Series Description"])

In [67]:
df1.iloc[:, 1] = df1.iloc[:, 1].astype('float64')

In [149]:
import random
random.seed(91)
size = 200
start = random.randint(10000, 15756 - size)
end = start + size
x = df1.iloc[:, 0].values
y = df1.iloc[:, 1].values

x = x[start: end]
y = y[start:end]

In [150]:
def time_diff(x1, x2):
    diff = x2 - x1
    diff = diff / np.timedelta64(1, 'D')
    return diff

In [151]:
total_days_diff = time_diff(x[0], x[len(x) - 1])

In [152]:
dt = 1 / total_days_diff

In [153]:
deltaT = (np.diff(x) / np.timedelta64(1, 'D')) * dt

In [154]:
deltaR = np.diff(y)

In [155]:
# exclude last value to ensure everything is the same size
R = y[: -1]

In [156]:
def dW(s, dT):  
    return np.random.normal(0, 1, s) * np.sqrt(dT)

In [157]:
dW1 = dW(size - 1, deltaT)

In [158]:
Rdt = -1 * R*deltaT

In [159]:
deltaT.shape

(199,)

In [160]:
Rdt.shape

(199,)

In [161]:
dW1.shape

(199,)

In [162]:
A = np.column_stack([deltaT, Rdt, dW1])
AT = A.T

AT_A = AT @ A
AT_A = AT_A.astype(float)
AT_A

array([[ 0.0068845 , -0.02144024,  0.00320119],
       [-0.02144024,  0.06780876, -0.01144555],
       [ 0.00320119, -0.01144555,  0.96003275]])

In [163]:
inverse_AT_A = np.linalg.inv(AT_A)
p = (inverse_AT_A @ AT)
parameters = p @ R
parameters

array([-30.946821167004796, -155.3677485454579, -0.6827669543972108],
      dtype=object)